{{#contentFor 'pageStyles'}}
  <link rel="stylesheet" href="pages/css/index.css" />
{{/contentFor}}

<section id="homeBanner">
    <div id="bannerCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#bannerCarousel" data-slide-to="1"></li>
        <li data-target="#bannerCarousel" data-slide-to="2"></li>
        <li data-target="#bannerCarousel" data-slide-to="3"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner bg-info" role="listbox">
        <div class="carousel-item active">
          <img class="img-fluid" src="images/back1.jpg" alt="Background 1"/>
        </div>
        <div class="carousel-item">
          <img class="img-fluid" src="images/back2.jpg" alt="Background 2"/>
        </div>
        <div class="carousel-item">
          <img class="img-fluid" src="images/back3.jpg" alt="Background 3"/>
        </div>
        <div class="carousel-item">
          <img class="img-fluid" src="images/back4.jpg" alt="Background 4"/>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#bannerCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#bannerCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
    <section id="randomReceipe">
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-lg-6 offset-md-3 my-auto">
            <div class="jumbotron pt-0 pb-3">
              <h3 class="jumbtron-title text-white text-center font-italic display-4">Today's Special</h3>
              <div class="jumbotron-image">
                  <img src="{{randomdetails.mealimage}}"/>
              </div>
              <h2 class="text-white text-center mt-3 jumbtron-name"><a href="/receipe/{{randomdetails.mealid}}" class="text-white">{{randomdetails.mealname}}</a></h2>
            </div>
          </div>
        </div>
      </div>
    </section>
</section>

<section id="homeContent">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9">
        <div class="row mt-3 pt-5">
          {{#each categorydetails}}
          <div class="col-lg-4">
            <a href="/categories/{{categoryid}}" class="btn mb-4 p-0">
              <div class="card text-muted bg-dark home-category">
                  <img class="card-img-top" src="{{categoryimage}}" alt="Card image cap">
                  <div class="card-body">
                     <h5 class="card-title text-center">{{categoryname}}</h5>
                  </div>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="text-white mt-3 mb-3">Latest Recipes</h3>
          </div>
        </div>
        {{#each latestdetails}}
        <div class="media mb-3">
          <div class="media-img mr-3">
            <img src="{{latestimage}}" class="align-self-start" style="width:100px">
          </div>
          <div class="media-body">
            <p class="text-warning mt-0 mb-1 text-uppercase">{{latestcategory}}</p>
            <a href="/receipe/{{latestid}}"><h5 class="text-white">{{latestname}}</h5></a>
          </div>
        </div>
        {{/each}}
        <!-- <div class="media mb-3">
          <div class="media-img mr-3">
            <img src="https://www.themealdb.com/images/media/meals/2dsltq1560461468.jpg" class="align-self-start" style="width:100px">
          </div>
          <div class="media-body">
            <p class="text-warning mt-0 mb-1 text-uppercase">Seafood</p>
            <h5 class="text-white">Tuna and Egg Briks</h5>
          </div>
        </div>
        <div class="media mb-3">
          <div class="media-img mr-3">
            <img src="https://www.themealdb.com/images/media/meals/8x09hy1560460923.jpg" class="align-self-start" style="width:100px">
          </div>
          <div class="media-body">
            <p class="text-warning mt-0 mb-1 text-uppercase">Lamb</p>
            <h5 class="text-white">Keleya Zaara</h5>
          </div>
        </div>
        <div class="media mb-3">
          <div class="media-img mr-3">
            <img src="https://www.themealdb.com/images/media/meals/x2fw9e1560460636.jpg" class="align-self-start" style="width:100px">
          </div>
          <div class="media-body">
            <p class="text-warning mt-0 mb-1 text-uppercase">Vegetarian</p>
            <h5 class="text-white">Leblebi Soup</h5>
          </div>
        </div>
        <div class="media mb-3">
          <div class="media-img mr-3">
            <img src="https://www.themealdb.com/images/media/meals/t8mn9g1560460231.jpg" class="align-self-start" style="width:100px">
          </div>
          <div class="media-body">
            <p class="text-warning mt-0 mb-1 text-uppercase">Lamb</p>
            <h5 class="text-white">Tunisian Lamb Soup</h5>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>

{{#contentFor 'pageScripts'}}
  <link rel="stylesheet" href="pages/js/index.js" />
{{/contentFor}}
